.container {
    width: 100%;
    min-height: 100vh;
    background-color: #191919;
    color: white;
    padding-bottom: 1rem;
    text-align: center;
    padding-inline: 1rem;
    overflow: hidden; /* Vai dizer se voce quer ou não que apareça a barra de rolagem*/
}