.card {
    display: flex;
}

.card img {
    border-radius: 8px;
    width: 225px;
}

.card img:hover {
    transform: scale(1.15) translateY(-10px);
    box-shadow: 0 0 10px #222;
    border-radius: 10px;
}